/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details,
figure, figcaption, footer, header, hgroup,
menu, nav, output, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: helvetica;
  background-image: url("assorted-donuts.jpg");
  background-position: center center;
}

table {
  border: 1px solid #000000;
  background-color: #e54661;
  width: 75%;
  text-align: center;
  margin: 0 auto;
}

th {
  background-color: #2c594f;
  color: #ffffff;
  border: 2px solid;
  padding: .5em;

}

#sub:hover {
  background-color: #e54661;
}

td {
  color: #ffffff;
  border: 2px solid;
  padding: .5em;

}

h1 {
  color: #ffffff;
  background-color: #e54661;
  text-align: center;
  padding: 10px;
  font-size: 50px;
  border: 2px solid;
  border-color: #ffffff;
  width: 100%;
  margin-bottom: 20px;
  margin-left: 0 auto;
}

main {
  color: #e54661;
  font-size: 24px;
  background-color: #ffffff;
  width: 95%;
  padding: 10px;
  border: 4px solid #e54661;
  margin: 20px;
}

h3 {
  color: #ffffff;
  background-color: #2c594f;
  margin: 20px;
  padding: 10px;
  width: 15%;
  text-align: center;
}

label {
  background-color: #2c594f;
  padding: 5px;
  color: #ffffff;
  margin-left: 20px;
}

section > p {
  float: left;
  width: 30%;
  color: #2c594f;
  background-color: #ffffff;
  padding: 10px;
  border: 4px solid #2c594f;
  margin: 20px;
}

.clear {
  clear: left;
}

p.intro:first-letter {
  font-size: 200%;
  font-weight: bold;
}

.box-2 {
  transform: rotate(-17deg) scale(1.75) translateY(30px);
  font-size: 48px;
}

button {
  border: 0;
  background: #2c594f;
  border-radius: 20px;
  box-shadow: 0 5px 0 #e54661;
  color: #ffffff;
  cursor: pointer;
  font: Helvetica Arial sans-serif;
  font-size: 24px;
  margin-left: 20px;
  outline: 0;
  padding: 12px 20px;
  transition: all .1s linear;
  background: #2c594f;
  transition-property: background;
  transition-duration: 2s;
  transition-timing-function: linear;
}
button:active {
  box-shadow: 0 4px 0 #2c594f;
  transform: translateY(3px);
}

button:hover {
  background: #e54661;
}

.new-loc {
  background: #2c594f;
  border-radius: 20px;
  transition-property: background, border-radius;
  transition-duration: .2s, 1s;
  transition-timing-function: linear, ease-in;
}
.new-loc:hover {
  background: #e54661;
  border-radius: 85%;
}

.data {
  border-radius: 20px;
}




